.list{
    background-color: #fff;
    padding: 1% 0;
    width: 50%;
    margin: 0 auto;
    border-radius: 5px;
}

.list p{
    border: 1px solid darkgray;
    border-radius: 2px;
    padding: 1%;
    margin: 2%;
}