.form-container{
    border-radius: 5px;
    width: 50%;
    margin: 2% auto;
    padding: 2rem 1rem;
    background: #fff;
}

label , input{
    display: block;
    width: 100%;
}
.form-container button{
    color: #fff;
    border: unset;
    background-color: rgb(80, 0, 87);
    margin: 2% 0;
    padding: 2%;
    border-radius: 3px;
}
